<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">O</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/shopping-cart" class="nav-link">Shopping Cart</a>
      </li>
      <ng-template #anonymous>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
      </ng-template>
      <li *ngIf="auth.username$ | async as username; else anonymous" class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn" id="dropdownBasic1" ngbDropdownToggle>{{username.displayName}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button routerLink="/my/orders" ngbDropdownItem>My Orders</button>
            <button routerLink="/admin/orders" ngbDropdownItem>Manage Orders</button>
            <button routerLink="/admin/products" ngbDropdownItem>Manage Products</button>
            <button ngbDropdownItem (click)="logout()">Log Out</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>